
.calender-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.btn-container {
  margin-bottom: 10px;
}

.btn-event {
  background-color: rgb(53, 142, 221);
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
}

@media (min-width: 768px) {
  .calender-container {
    flex-direction: column;
  }

  .btn-container {
    margin-bottom: 20px;
  }

  .btn-event {
    width: 100px;
    height: 50px;
  }
}
.calender-container{
  background-color: rgb(208, 230, 244);
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
